// 1. LOADING FONTS, VARIABLES, MIXINS
@import './general/abstracts.scss';
// 2. GENERAL CLASSES AND OVERRIDING SECTIONS
@import './general/general-classes.scss';
@import './overriding/general-styles.scss';
@import './overriding/header-and-footer.scss';
@import './overriding/product.scss';
@import './overriding/related-products-carousel.scss';
@import './overriding/popups.scss';
// 3. PAGES STYLES
@import './pages/home.scss';
@import './pages/about.scss';
@import './pages/contact.scss';
@import './pages/cart.scss';
@import './pages/welcome-under-constr-404-page.scss';
@import './pages/registration-and-login.scss';
// 4. MEDIA QUERIES (at the bottom)

.noancho.ltr.template-index,
.noancho.ltr.template-page,
#shopify-section-aboutus-grid-builder  {
  .container {
    @include container;
  }
}
.position-counter {
  top: 5px;
  left: -2px;
  background-color: $darker-details-color;
}
.custom-block-html.style_2 .content-text-menu {
  position: initial !important;
}
.order-details {
  width: 37vw;
  margin-top: 20px;
}
.pr-old {
  margin-right: 5px;
  text-decoration: line-through;
}
.text-decor {
  color: white !important;
  text-transform: uppercase !important;
}
.radiobutton {
  position: relative;
  display: block;
  cursor: pointer;
}
.radio-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.thecircle {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 2px solid white;
  position: relative;
  cursor: pointer;
  margin-left: 32%;
}
.thedot {
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 100%;
  // background-color: white;
  top: 2px;
  left: 2px;
  &:after {
    // content: " ";
    position: absolute;
    display: none;
  }
}
.text-checkbox {
  width: 170px;
  margin-top: -7px;
  margin-left: 20px;
}
.thecircle input:checked ~ .thedot {
  background-color: white;
  &::after {
    display: block;
  }
}
// .select-dateBirth {
//   margin-bottom: 45px !important;
// }


div.order-details {
  width: 44vw;
  display: none;
  border: 1px solid #707070;
  padding: 10px 26px;
  position: absolute;
  top: 1%;
  background-color: #fff;
  z-index: 99;
  left: 50%;
  transform: translateX(-50%);
  &.active {
    display: block;
  }
  @include screen-width('tablet') {
    width: 84vw;
    top: -15%;      
  }
}

// 4. MEDIA QUERIES

@include screen-width('phone') {
  .shopify-section.custom-tabs {
    margin-bottom: 50px;
  }
  .select-dateBirth {
    margin-bottom: 30px !important;
  }
}