//LOADING ALL THE NECESSARY FONTS
@font-face {
font-family: "Spinwerad";
src: url("spinwerad.eot"); /* IE9 Compat Modes */
src: url("spinwerad.eot?#iefix") format("embedded-opentype"),
/* IE6-IE8 */ url("spinwerad.woff2") format("woff2"),
/* Super Modern Browsers */ url("spinwerad.woff") format("font-woff"),
/* Pretty Modern Browsers */ url("spinwerad.ttf") format("truetype"),
/* Safari, Android, iOS */ url("spinwerad.svg#svgFontName") format("svg"); /* Legacy iOS */
}
@font-face {
font-family: "Futura";
src: url("Futura_Book_font.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Futura";
src: url("futura_medium_bt.ttf") format("truetype");
font-weight: bold;
font-style: normal;
}
@font-face {
  font-family: "Black Jack";
  src: url("blackjack.otf") format("opentype");
  font-weight: medium;
  font-style: normal;
}

//TYPOGRAPHY
body {
  font-family: Futura;
  h1 { font-size: 3.052rem; }
  h2 {font-size: 2.441rem;}
  h3 {font-size: 1.953rem;}
  h4 {font-size: 1.563rem;}
  h5 {font-size: 1.25rem;}
  h6 {font-size: 1rem;}
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

//ALL THE COLOR VARIABLES
$light-bg: #EED6C1;
$light-bg-opacity3: rgba($color: $light-bg, $alpha: 0.3);

$footer-color: #FEF7EE;

$icons-color: #e17261; 
$color: #E17161;
$sold-out-popup-color: #E8C3B3;


$buttons-bg: #FABBA1;
$labels-color: rgba($color: $buttons-bg, $alpha: 0.7);


$darker-details-color: #d3361f;
$details-text-opacity3: rgba($color: $darker-details-color, $alpha: 0.3);
$darker-bg-opacity7: rgba($color: $darker-details-color, $alpha: 0.7);

//MEDIA QUERIES
$widths: (
    'desktop' : ( max-width: 1200px),
    'laptop' : ( max-width: 1024px),
    'tablet' : ( max-width: 768px),
    'phone' : ( max-width: 550px ),
    'smallest' : ( max-width: 400px )
) !default;


@mixin screen-width($width) {
    @if map-has-key($widths, $width) {
        @media #{inspect(map-get($widths, $width))} {
            @content;
        }
    }

    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$width}`. "
            + "Available widths are: #{map-keys($widths)}.";
    }
}

//MIXINS
@mixin flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin align-center {
    display: flex;
    align-items: center;
}

@mixin container{
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important; 
}
@mixin position-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}