@font-face {
    font-family: "Spinwerad";
    src: url("spinwerad.eot"); /* IE9 Compat Modes */
    src: url("spinwerad.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("spinwerad.woff2") format("woff2"),
    /* Super Modern Browsers */ url("spinwerad.woff") format("font-woff"),
    /* Pretty Modern Browsers */ url("spinwerad.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("spinwerad.svg#svgFontName") format("svg"); /* Legacy iOS */
  }
  @font-face {
    font-family: "Futura";
    src: url("Futura_Book_font.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  // @font-face {
    //   font-family: "Futura";
    //   src: url("futura_medium_bt.ttf") format("truetype");
    //   font-weight: medium;
    //   font-style: normal;
    // }
  @font-face {
    font-family: "Futura";
    src: url("futura_medium_bt.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }