//CLASSES FOR LAYOUT
.text-center {
  text-align: center;
}
.over-hidden {
  overflow: hidden;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.hidden,
.mobile,
.show-mobile,
.inline-mobile,
.flex-mobile {
  display: none;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.full-scr {
  max-width: 100%;
  width: 100%;
}
.w-p-100{
  width: 100px;
}
.mw-100 {
  max-width: 100% !important;
}
.mh-60{
  min-height: 60px;
}
.mh-65{
  min-height: 65px;
}
.h-300 {
  height: 300px;
}

//---------------- flex classes
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.center-menu, .flex2 {
  display: flex;
  align-items: center;
}
.flex-colomnss {
  display: flex;
  flex-direction: column;
}
.flex1 {
  display: flex;
  align-items: flex-start;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.dir-column {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.fb-25 {
  flex-basis: 25%;
}
.fb-33 {
  flex-basis: 33%;
}
.fb-50 {
  flex-basis: 50%;
}
.fb-66{
  flex-basis: 66%;
}
.fb-75 {
  flex-basis: 75%;
}
//CLASSES FOR COLOR
.white-letter {
  color: white !important;
}
.white-back {
  background-color: white;
}
.red-letter {
  color: $darker-details-color !important;
}
.black-letter {
  color: black !important;
}
.view-cart button {
  background-color: black !important;
}
.text_gray,
.text-gray.fs-18.fw-700.mt-10p {
  color: #7b7b7b !important;
}
.text_gray_2 {
  color: #7e7e7e;
}
.text_gray_3 {
  color: #909090;
}
.text_gray_4 {
  color: #8b8b8b;
}
.text_gray_5 {
  color: #a7a7a7;
}
.text_gray_6 {
  color: #8D8D8D;
}
.text_red {
  color: $darker-details-color;
}
.text_red_2 {
  color: $buttons-bg;
}
.border-right-red {
  border-right: 1px solid $buttons-bg;
}
.opac_70 {
  opacity: 0.7;
}
//COLOR FOR FONT SIZES
.fs-8 {
  font-size: 8px;
}
.fs-10 {
  font-size: 10px;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
.fs-28 {
  font-size: 28px;
}
.fs-30 {
  font-size: 30px;
}
.fs-70 {
  font-size: 70px;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
//COLOR FOR WHITE SPACE
.mt-8p {
  margin-top: 8px;
}
.mt-10p {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-18{
  margin-top: 18px;
}
.mt-25{
  margin-top: 25px;
}
.mt-30{
  margin-top: 30px;
}
.mt-40p {
  margin-top: 40px;
}
.mt--50{
  margin-top: -50px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-30 {
  margin-right: 30px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-30p {
  margin-bottom: 30px;
}
.mb-45{
  margin-bottom: 45px;
}
.ml-20 {
  margin-left: 20px;
}
.pt-50 {
  padding-top: 50px;
}
.pt-75 {
  padding-top: 75px;
}



.text-upper,
.main-blog.blog-slide p.button,
.footer-container
  .footer-center
  .footer-newsletter
  .newsletter
  .input-group-btn
  > .btn,
.grid-item .product-inner .product-image .add-to-cartS button span,
.show-cart-wr .col-right .button-continue .close-box,
.show-cart-wr .col-right .button-viewcart a,
.show-cart-wr .col-right span,
#cart .cart-buttons input#checkout,
#shipping-calculator .btn,
#customer_login input.btn-login,
#create_customer input.btn-login,
#customer_login .btn-creatacc,
#create_customer .btn-creatacc,
#dropdown-cart .view-cart a span,
#dropdown-cart .mini_cart_header .actions .btn span,
.infinite-scrolling a,
.spr-summary-actions a {
  text-transform: uppercase;
}

.text-underline {
  text-decoration: underline;
}

@include screen-width("desktop") { 
  .fs-t-16{
    font-size: 16px !important;
  }
  .wt-90 {
    max-width: 90% !important;
  }
}
@include screen-width("tablet") {
  .display-none-mob {
    display: none;
  }
  .inline-mobile {
    display: inline-block;
  }
  .show-mobile {
    display: block;
  }
  .fd-m-column{
    flex-direction: column;
  }
  .fb-m-25 {
    flex-basis: 25%;
  }
  .fb-m-75 {
    flex-basis: 75%;
  }
  .fb-m-100 {
    flex-basis: 100%;
  }
  .fs-m-10 {
    font-size: 10px;
  }
  .fs-m-13, .fs-18.fs-m-13{
    font-size: 13px;
  }
  .fs-m-14{
    font-size: 14px;
  }
  .fs-m-15{
    font-size: 15px;
  }
  .mt-m-0{
    margin-top: 0;
  } 
  .mt-m-25 {
    margin-top: 25px;
  }
  .mr-30-m {
    margin-right: 30px;
  }
  .mb-m-20 {
    margin-bottom: 20px;
  }
  .mb-m-25{
    margin-bottom: 25px;
  }
  .pt-m-10{
    padding-top: 10px;
  }
  .promobox {
    padding: 0 0 !important;
  }
  .container-mobile {
    display: block;
    height: initial !important;
  }
   
  .wm-90 {
    max-width: 90%;
    padding-left: 0;
    padding-right: 0;
  }
  .h-m-140 {
    height: 140px;
  }
}
@include screen-width("phone") {
  .desktop, .hide-on-mobile {
    display: none;
  }
  .flex-mobile {
    display: flex;
  }
  .mobile {
    display: block;
  }
  .mobile-fs14 {
    font-size: 14px;
  }
  .fs-mobile {
    font-size: 16px;
  }
  .mb-20m {
    margin-bottom: 20px;
  }
}
