$main-bg: #EED6C1;
$main-bg-opacity3: rgba($color: #eed6c1, $alpha: 0.3);
$light-bg-color: #f5e8dc;
$color: #FABCA1;
$color: #e17262;
$darker-details-color: #d4361f;
$darker-bg-opacity7: rgba($color: #d4361f, $alpha: 0.7);