// 1. Header on desktop
// 2. Header on mobile
// 3. Instagram section before the footer
// 4. Footer styles
// 5. Back to top button


// 1. .header-layout-01 on desktop
.header-topbar.full-width {
  display: none;
}
#header-content {
  position: fixed;
}
.header-layout-01 {
  .logo-container,
  .menu-main-home,
  .header-cart-container {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.header.full-width {
  background-color: $footer-color;
  min-height: 80px;

  .header-cart-container {
    align-items: center;

    & > div {
      margin-right: 0.75rem;
      cursor: pointer;
    }
    & > div.header-language {
      display: none;
    }

    .top-currency, .header-cart {
      padding: 0;
    }
  }
  
  .white-img-icon svg{
    width: 100%;
  }

  .site-nav .level-top .text-st {
    color: #F9BCA1;
    font-size: 18px;
  }
}

// 2. Header on mobile
@include screen-width("laptop") {
  #header-mobile {
    @include align-center;
    height: auto;
    line-height: normal;
    padding: 0.5rem 1rem;
    &, &.is-ticky {
      background-color: $footer-color;
    }
    .container {
      @include align-center;
      justify-content: space-between;
      padding: 0;
      max-width: initial;
    }
    .logo-avc {
      margin-top: 0;
      .logo {
        font-size: 3rem;
        line-height: normal;
        a img {
          width: 60%;
          height: auto;
        }
      }
    } 
    .cs-font.clever-icon-menu-5 {
      color: $icons-color;
    }
    .icon-search,
    .wishlist-cart,
    .toggle-search {
      width: auto;
      @include align-center;
    }
    .wishlist-cart {
      justify-content: center;
    }  
    .white-img-icon {
      width: 30px;
      svg {
        width: 90%;
      }
    }
  }
}

@include screen-width("phone") { 
  #header-mobile .logo-avc .logo a img {
    width: 80%;
  }
}

// 3. STYLES FOR THE INSTAGRAM PART BEFORE THE ACTUAL FOOTER
#shopify-section-footer #insta-feed {
  margin-top: 0;
}
.size-25.heading-title {
  margin-bottom: 0;
  letter-spacing: 3px !important;
  font-weight: 100 !important;
  color: $details-text-opacity3 !important;

  @include screen-width("phone") {
    font-size: 18px !important;
  }
}

// 4. styles for the actual footer
.footer-container.footer_layout_2 {
  .footer-center {
    padding: 2.5em 0;
    background-color: $footer-color;
    i,
    a,
    address {
      color: $details-text-opacity3;
    }
    .logo-image {
      width: 100%;
      text-align: center;
      margin: 2rem 0;
      @include screen-width("tablet") {
        margin-bottom: 0;
      }
    }

    .footer-isocal .footer-icon-share {
      padding: 1rem 0;
      margin-bottom: 2rem;
      a i {
        font-size: 35px;
      }
      @include screen-width("tablet") {
        margin-bottom: 0;
      }
    } 
    .footer-link .content {
      li a {
        font-size: 20px;
        font-weight: 400;
        
        @include screen-width("tablet") {
          font-size: 14px;
        }
      }

      li:hover a, li:focus a {
        color: $darker-bg-opacity7;
      }
      @include screen-width("tablet") {
        display: flex;
        flex-direction: column;
      }
    }

    .footer-copyright address {
      margin-top: auto;
      font-size: 14px;

      .footer_link { margin-left: 30px; }
    }

    @include screen-width("tablet") {
      padding-top: 2em 0;
    }
  }
}

// 6. STYLES FOR THE BACK TO TOP BUTTON
#back-top a {
  border: 2px solid $buttons-bg;

  & .clever-icon-up::before {
    color:  $buttons-bg;
  }

  &:hover {
    background:$buttons-bg;

    & .clever-icon-up::before {
      color: white;
    }
  }
}
