// 1. Header on desktop
// 2. Header on mobile
// 3. Instagram section before the footer
// 4. Footer styles
// 5. Back to top button

// ----------------------------------------------------

// 1. .header-layout-01 on desktop
.header-topbar.full-width {
  display: none;
}
#header-content {
  position: fixed;
}
.header-layout-01 {
  .logo-container,
  .menu-main-home,
  .header-cart-container {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.icon-search {
  display: flex;
  position: relative;
  margin-left: auto;
  height: 2rem;

  .search__input {
    color: $buttons-bg;
    width: 10rem;
    position: absolute;
    top: -5px;
    bottom: 0;
    right: 0 + 2.5rem;
    padding: .25em 1em;
    outline: 0;
    z-index: 2;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transform: translateX(100%);
      
    &::placeholder {
      color: $buttons-bg;
    }
  }
}

.search__submit {
  cursor: pointer;
  margin-left: auto;
  border: 0;
  width: auto;
  height: auto;
  line-height: normal;
  background-color: transparent;
  .svg-img-icon svg {
    width: auto;
    height: 2rem;
  }
}

.header.full-width {
  background-color: $footer-color;
  min-height: 80px;
  .logo-container .logo a::before {
    display: block;
    content: "";
    padding-top: 20%;
  }
  .logo-image {
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (min-width: 1600px) {
      width: 100%;
      height: auto;
    }
  }
  .site-nav .level-top .text-st {
    color: #f9bca1;
    font-size: 1rem;
  }
  #search-top button {
    width: auto;
    height: auto;
    line-height: normal;
    padding: 0;
    &:after {
      content: none;
    }
  }
  .search__input {
    border: 1px solid $buttons-bg;
    background: transparent;
    transition: transform 0.3s ease, opacity 0.1s ease-in-out;
  }
  .icon-search:focus-within {
    .search__input {
      opacity: 0.7;
      transform: translateX(0);
      z-index: initial;
      cursor: initial;
      pointer-events: all;
      transition: transform 0.3s ease, opacity 0.5s ease-in-out;
    }
  }
  #search-top input[type=text].search__input:focus {
    border: 1px solid $buttons-bg !important;
  }
  .header-cart-container {
    @include align-center;
    justify-content: flex-end;

    & > div {
      margin-right: 0.75rem;
      cursor: pointer;
      flex-basis: 15%;
    }
    & > div.header-language {
      display: none;
    }

    .top-currency,
    .header-cart {
      padding: 0;
    }
  }
  .svg-img-icon svg {
    width: 100%;
  }
  .top-cart a {
    justify-content: center;
  }
  .cart-count {
    @media screen and (min-width: 1600px) {
      left: 90%;
    }
    @media screen and (min-width: 1900px) {
      left: 75%;
    }
  }
}

// 2. Header on mobile
@include screen-width("laptop") {
  #header-mobile {
    @include align-center;
    height: auto;
    line-height: normal;
    padding: 0.5rem 1rem;
    &,
    &.is-ticky {
      background-color: $footer-color;
    }
    .container {
      @include align-center;
      justify-content: space-between;
      padding: 0;
      max-width: initial;
    }
    .logo-avc {
      margin-top: 0;
      .logo {
        font-size: 3rem;
        line-height: normal;
        margin: 0;
        a img {
          width: 60%;
          height: auto;
        }
      }
    }
    .cs-font.clever-icon-menu-5 {
      color: $icons-color;
    }
    .header-cart {
      padding-left: 0;
    }
    .icon-search,
    .wishlist-cart,
    .toggle-search {
      // width: auto;
      @include align-center;
    }
    .wishlist-cart {
      justify-content: center;
    }
    .svg-img-icon {
      width: 2rem;
      svg {
        width: 90%;
      }
    }
    .navbar-icon {
      display: block;
      height: 2px;
      width: 2rem;
      background-color: $darker-bg-opacity7;
      position: relative;
      transition: background-color 0.2s ease-out;

      &:before,
      &:after {
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        background-color: $darker-bg-opacity7;
        position: absolute;
        left: 0;
        transition: all 0.3s ease-out;
      }
      &:before {
        top: 0.7rem;
      }
      &:after {
        top: -0.7rem;
      }
    }
    .navbar-icon.active {
      background-color: transparent;
    }
    .navbar-icon.active:before {
      transform: rotate(-45deg);
      top: 0;
    }
    .navbar-icon.active:after {
      transform: rotate(45deg);
      top: 0;
    }
    .search__input {
      height: 4rem;
      border: 0;
      background: #FFF5EE;
      transition: transform 0.7s ease;
    }
    .search__submit .svg-img-icon svg {
        height: 2.5rem;
      
    }
    .close-search-field {
      position: absolute;
      top: 0.5rem;
      right: 0;
      padding: 1rem;
      opacity: 0;
      pointer-events: none;
      
      &:before, &:after {
        display: inline-block;
        content: '';
        background: $icons-color;
        width: 28px;
        height: 2px;
      }
      &:before {
        transform: translateX(100%) rotate(-45deg);
      }
      &:after {
        transform: translateX(-10%) rotate(45deg);
      }
    }
    .icon-search:focus-within {
      .search__submit {
        width: 5rem;
        transform: translateX(calc(-100vw + 6rem));
        background-color: #FFF5EE;
        transition: transform 0.3s ease;
      }
      .search__input {
        opacity: 1;
        transform: translateX(10%);
        width: 79vw;
        z-index: initial;
        cursor: initial;
        pointer-events: all;
        transition: transform 0.3s ease, opacity 0.3s ease-in-out;
      }

      & ~ .close-search-field {
        opacity: 1;
        pointer-events: all;
        transition: opacity 0.3s ease-in;
      }
      & ~ .header-cart {
        display: none;
      }
    }
  }

  #offcanvas {
    display: none;
  }

  @include screen-width("laptop") {
    #off-canvas-button {
      padding: 0;
      float: none;
      color: $darker-bg-opacity7;
    }
    #offcanvas {
      background-color: $footer-color;
      height: auto;
      top: 5.2rem;
      padding: 2rem 0;
      @include screen-width("tablet") {
        top: 5rem;
      }
      @include screen-width("phone") {
        top: 4.6rem;
      }
      nav.offcanvas-mainnav.containers {
        padding: 0 !important;
      }
      .navbar-nav {
        li {
          text-align: center;
          a {
            padding: 1rem 0;
          }
        }
        .clever-icon-arrow-right,
        .clever-icon-down,
        li a,
        li a span {
          color: $darker-bg-opacity7;
          text-transform: uppercase;

          svg {
            // width: 60%;
            margin-right: 0.5rem;
            opacity: 0.7;
          }
        }
        h3 {
          @include flex-centered;
          i {
            line-height: normal;
            height: auto;
            padding-right: 3rem;
          }
        }
        ul.level-1 {
          padding-left: 0;
        }
        .mobile-megamenu-item {
          @include flex-centered;
          max-height: 8rem;
          position: relative;
          overflow: hidden;

          &:after {
            display: block;
            content: '';
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            background:$details-text-opacity3;
          }
        }
        .mobile-megamenu-image {
          width: 100%;
        }
        .mobile-megamenu-name {
          position: absolute;
          color: white;
          z-index: 10;
        }
        ul.level-2 {
          padding-left: 0;
          li a {
            font-size: 1.2rem;
            padding: 0.5rem 0; 
            text-transform: initial; 
          }
        }
      }
    }
  }
}

@include screen-width("phone") {
  #header-mobile .logo-avc .logo a img {
    width: 80%;
  }
}

// 3. STYLES FOR THE INSTAGRAM PART BEFORE THE ACTUAL FOOTER
#shopify-section-footer #insta-feed {
  margin-top: 0;
}

.footer-heading {
  background: $footer-color;
}

.heading-title {
  letter-spacing: 3px;
  font-weight: bold;
  color: $details-text-opacity3;
  text-align: center;
  margin-bottom: 0;
  padding: 1rem 0;
}

// 4. styles for the actual footer
.footer-container.footer_layout_2 {
  .footer-center {
    padding: 2.5em 0;
    background-color: $footer-color;
    i,
    a,
    address {
      color: $details-text-opacity3;
    }
    .logo-image {
      width: 100%;
      text-align: center;
      margin: 2rem 0;
      a.logo_img svg {
        width: 100%;
      }
      @include screen-width("tablet") {
        width: 80%;
        margin: 0 auto;
      }
    }

    .footer-isocal .footer-icon-share {
      padding: 1rem 0;
      margin-bottom: 2rem;
      a i {
        font-size: 35px;
      }
      @include screen-width("tablet") {
        margin-bottom: 0;
      }
    }
    .footer-link .content {
      li a {
        font-size: 1rem;
        font-weight: 400;
      }
      li:hover a,
      li:focus a {
        color: $darker-bg-opacity7;
      }
      @include screen-width("tablet") {
        display: flex;
        flex-direction: column;
      }
    }

    .footer-copyright address {
      margin-top: auto;
      font-size: 0.75rem;

      .footer_link {
        margin-left: 30px;
        &:hover {
          color: $darker-details-color;
        }
      }
    }

    @include screen-width("tablet") {
      padding-top: 2rem 0;
    }
  }
}

// 6. STYLES FOR THE BACK TO TOP BUTTON
#back-top a {
  @include flex-centered;
  border: 2px solid $buttons-bg;
  width: 40px;
  height: 40px;
  line-height: normal;
  font-size: 0.8rem;

  & .clever-icon-up::before {
    color: $buttons-bg;
  }

  &:hover {
    background: $buttons-bg;

    & .clever-icon-up::before {
      color: white;
    }
  }
}
