// .header-layout-01 

.header.full-width {
  background-color: $light-bg;
  min-height: 80px;
  
  .white-img-icon {
    display: block;
  }
  .black-img-icon {
    display: none;
  }

  .site-nav .level-top .text-st {
    color: white;
    font-size: 18px;
  }

  &.is-ticky {
    background-color: white;
    .white-img-icon {
      display: none;
    }
    .black-img-icon {
      display: block;
    }
    .site-nav .level-top .text-st {
      color: black;
    }

  }
}

@include screen-width("laptop") {
  
  #header-mobile {
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: $light-bg;
    height: 100px;
    .container {
      display: flex;
      justify-content: space-between;
    }
    .toggle-search,
    .logo-avc,
    .wishlist-cart {
      width: auto;
    }
    .cs-font.clever-icon-menu-5 {
      color: white;
    }
    .icon-search,
    .wishlist-cart {
      display: flex;
      align-items: center;
    }
    .wishlist-cart {
      justify-content: center;
    }  
    
    .white-img-icon,
    .black-img-icon {
      width: 35px;
    }
    .icon-search,
    .top-cart {
      .white-img-icon {
        display: block;
      }
      .black-img-icon {
        display: none;
      }
    }

    &.is-ticky {
      background-color: white;
      .cs-font.clever-icon-menu-5 {
        color: black;
      }
      .icon-search,
      .top-cart {
        .white-img-icon {
          display: none;
        }
        .black-img-icon {
          display: block;
        }
      }
    }
  }
}
