// .header-layout-01 
#header-content {
  position: fixed;
}
.header-layout-01 {
  .logo-container,
  .menu-main-home,
  .header-cart-container {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.header.full-width {
  background-color: $footer-color;
  min-height: 80px;
  padding: 15px 30px;

  .header-cart-container {
    align-items: center;

    & > div {
      margin-right: 0.75rem;
    }

    .top-currency, .header-cart {
      padding: 0;
    }
  }
  
  .white-img-icon svg{
    width: 90%;
  }

  .site-nav .level-top .text-st {
    color: $darker-bg-opacity7;
    font-size: 18px;
  }
}


@include screen-width("laptop") {
  
  #header-mobile {
    @include align-center;
    height: auto;
    line-height: normal;
    padding: 0.5rem 1rem;
    background-color: $footer-color;
    .container {
      @include align-center;
      justify-content: space-between;
      padding: 0;
    }
    .logo-avc {
      margin-top: 0;
      .logo {
        font-size: 3rem;
        line-height: normal;
        a img {
          width: 90%;
          height: auto;
        }
      }
    } 
    .cs-font.clever-icon-menu-5 {
      color: $darker-details-color;
    }
    .icon-search,
    .wishlist-cart,
    .toggle-search {
      width: auto;
      @include align-center;
    }
    .wishlist-cart {
      justify-content: center;
    }  
    
    .white-img-icon {
      width: 30px;

      svg {
        width: 90%;
      }
    }
  }
}


//STYLES FOR THE INSTAGRAM PART BEFORE THE ACTUAL FOOTER

// #shopify-section-16045813691743142a {
//   .row.align-horizontal-.align-vertical-top {
//     height: initial !important;
//   }
// }

.size-25.heading-title {
  margin-bottom: 0;
  letter-spacing: 3px !important;
  font-weight: 100 !important;
  color: rgba($color: #d4361f, $alpha: 0.3) !important;

  @include screen-width("phone") {
    font-size: 18px !important;
  }
}

// @include screen-width('phone') {
//   #shopify-section-collection-grid-builder .size-25.heading-title {
//     font-size: 18px !important;
//   }
// }

// styles for the actual footer
.footer-container.footer_layout_2 {
  .footer-center {
    padding: 2.5em 0;
    background-color: $footer-color;
    i,
    a,
    address {
      color: $details-text-opacity3;
    }
    .logo-image {
      width: 100%;
      text-align: center;
      margin-bottom: 2em;
      .logo_img {
        width: 20%;
        height: auto;
      }
      @include screen-width("tablet") {
        margin-bottom: 0;
        .logo_img {width: 50%;}
      }
    }

    .footer-isocal .footer-icon-share {
      padding: 1em 0;
      margin-bottom: 2em;
      @include screen-width("tablet") {
        margin-bottom: 0;
      }
    }

    .footer-link .content {
      @include screen-width("tablet") {
        display: flex;
        flex-direction: column;
      }

      li a {
        font-size: 20px;
        font-weight: 400;

        @include screen-width("tablet") {
          font-size: 14px;
        }
      }
    }

    .footer-copyright address {
      margin-top: auto;
      font-size: 14px;

      .footer_link { margin-left: 30px; }
    }

    @include screen-width("tablet") {
      padding-top: 2em 0;
    }
  }
}

//STYLES FOR THE BACK TO TOP BUTTON
#back-top a {
  border: 2px solid $buttons-bg;

  & .clever-icon-up::before {
    color:  $buttons-bg;
  }

  &:hover {
    background:$buttons-bg;

    & .clever-icon-up::before {
      color: white;
    }
  }
}
