// 1. COOKIE NOTICE POPUP
// 2. PICTURE POPUP ON A PRODUCT (FANCYBOX)
// 3. CART POPUP - AFTER ADDING ITEM TO THE CART
// 4. CART POPUP - CART DETAILS DRAWER

// -------------------------------------------------

// 1. COOKIE NOTICE POPUP

.popup-cookie {
  background: $icons-color;
  .cookies-inner {
    padding: 15px 30px;
    .notification-cookies {
      justify-content: center;
      .popup-cookie-button {
        .button-btn-2 {
          width: 30px;
          height: 30px;
          line-height: normal;
          padding: 0;
          margin-left: 10px;
          margin-right: 0;
          border-radius: 50%;
          position: relative;
          i {
            padding-left: 0;
          }
          &:after {
            display: block;
            content: "X";
            @include position-center;
          }
          &:hover {
            color: $icons-color;
          }
        }
      }

      @include screen-width("tablet") {
        display: flex;
      }
    }
  }
}

// 2. ZOOMED IN PICTURE POPUP ON THE SINGLE PRODUCT PAGES
.fancybox-lock .fancybox-overlay {
  overflow: hidden;
  overflow-y: hidden;
  height: 100vh;
}
.fancybox-wrap.fancybox-desktop {
  width: 80vw !important;
  height: 95% !important;
}
.fancybox-inner, .fancybox-outer, .fancybox-skin {
  height: 100% !important;
} 
.fancybox-skin {
  background-color: $light-bg;
}
.fancybox-inner {
  width: initial !important;
  margin: 0 auto;
}
.fancybox-iframe,
.fancybox-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin: 0 auto;
}
.fancybox-item.fancybox-close {
  background-color: $color;
}

@include screen-width('tablet') {
  .fancybox-wrap.fancybox-desktop {
    width: 90% !important;
    height: initial !important;
    left: 4% !important;
  }
  .fancybox-skin {
    padding: 0 !important;
  }
  .fancybox-close {
    width: 25px;
    height: 25px;
  }
}


//CART POPUPS

//3. POPUP AFTER ADDING ITEM TO THE CART
.ajax-success-cbox .content {
  background: $light-bg;
}
span.close-box_red {
  background-color: #e17161;
}
.button-checks{
  display: none;
}

.success-message.show-cart-wr.row {
  .count-popup, 
  .label.white-letter, 
  .product-title, 
  .product-price-popups {
    font-size: 18px;
  }
  .button-viewcart a,
  .button-continue .close-box {
    background: $light-bg;
    color: white;
    border: 1px solid white;
    font-size: 16px;
    
    &:hover,
    &:focus {
      background: white;
      color: $light-bg;
    }
  }
  .btn.harman_btn4 {
    background-color: $darker-bg-opacity7;
    border: none;
    font-size: 20px;
    
    &:hover,
    &:focus {
      background-color: $darker-details-color;
      color: white;
    }
  }

  @include screen-width('phone') {
    .col-left {padding-left: 0;}
    .col-right {padding-right: 0;}
  }
}
.checkmark-white {
  width: 29px;
  height: 17px;
  border-radius: 3px;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
  transform: rotate(-45deg);
  margin-right: 10px;
  margin-top: -5px;
}

.cart-messages {
  display: flex;
  p {
    color: white !important;
    font-size: 21px !important;
    font-family: Futura;
  }
}

.center-price {
  @include flex-centered;
}
@include screen-width("tablet") {
  .count-popup.white-letter {
    margin-top: 50px;
  }
}

// 4. CART DETAILS DRAWER
.divider-heading,
.text-dec {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.divider {
  border-bottom: 1px solid #707070;
  width: 30%;
  
  @include screen-width("phone") { 
    width: 25%;
  }
}
.divider-heading {
  font-size: 1rem;
  margin: 0 10px -10px 10px;
  text-align: center;
}
.text-dec {
  font-size: 14px;
  font-weight: normal;
}

.cart-left {
  flex-basis: 35%;
  background-color: $light-bg-opacity3;
  @include screen-width("tablet") { display: none; }
  .owl-stage {
    width: initial !important;
    @include flex-column;
    justify-content: space-between;
    height: 92vh;
  }
  .owl-item {
    flex-basis: 30%;
    width: initial !important;

    .grid-item.product-item {
      width: 80%;
      margin: 0 auto;
    }
  }
  .product-content {
    background-color: $light-bg-opacity3;
    h3 {
      margin: 0.25rem 0;
      padding: 0;
    }
  }
   .btn.btn--status.js-product-button-add-to-cart {
    width: 100%;
    height: auto;
    line-height: normal;
    background: #fcd6c5;
    color: white;
    border: none;
    font-weight: 300;
    letter-spacing: 3px;
    padding: 0.75rem 0;
  }
  .product-collection__options {
    display: none !important;
  }
  .btn[disabled] {
    opacity: 1;
  }
}
#dropdown-cart {
  display: flex;
  padding: 0;
  max-width: 50vw;
  
  @include screen-width("desktop") {
    max-width: 65vw;
  }
  @include screen-width("laptop") {
    max-width: 75vw;
  }
  @include screen-width("tablet") {
    max-width: 100vw;
    width: 100%;
  }

  .cart-right {
  flex-basis: 65%;
  padding: 30px;
    .product-name a, .price {
      font-size: 1rem;
    }
    .summary .total {
      .label, .price {
        font-size: 20px;
      }
      .label {
        text-transform: uppercase;
      }
      .price {
        color: $darker-bg-opacity7 !important;
      }
    }
    .view-cart a:hover span, 
    .mini_cart_header .actions .btn:hover span {
      transform: translateY(0); 
      transition: none;

      :before {
        content: none;
      }
    }
    
    .harman_btn4 {
      background-color: $buttons-bg;
      border: none;
      span {
        color: white;
        font-size: 20px;
      }

      &.btn {
        background-color: $darker-bg-opacity7;
        color: white;
        border: none;
        &:hover, &:focus {
          background-color: $darker-details-color;
        }
      }

      &:hover, &:focus {
        background-color: $darker-bg-opacity7;
      }
    }
  

    @include screen-width("tablet") { 
      flex-basis: 100%; 
      padding: 22px 10px;

      .product-name a, 
      .price,
      .summary .total .label, 
      .summary .total .price {
        font-size: 14px;
      }

      .cart-list .product-inner {
        padding-right: 0;
      }

      .harman_btn4 span {
          font-size: 14px;
        }
    }
  }
}
.cart-list li {
  border-bottom: none !important;
}