//GENERAL STYLES FOR THE RELATED PRODUCTS CAROUSEL
.related-heading {
  padding-top: 0;
  border-bottom: none;
  h2 {
    font-size: 18px;
    border-bottom: none;
    letter-spacing: 3px;
  }
  @include screen-width('phone') {
    margin-bottom: 20px !important;
    font-size: 16px !important;
  }
}
.might_like_title .related-heading { 
  h2 {
    color: white;
  }
}
.cart-left .related-heading {
  width: 80%;
  padding: 1rem 0;
  margin: 0 auto;
  h2 {
    padding-bottom: 0;
    font-size: 14px;
    
  }
}
.related_products_modal .related-products .related-heading {
  display: none;
}

.grid-item .product-inner .product-image  {
  height: 300px;
  .grid-image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .add-to-cartS {
    width: 100%;
    button {
      background: $darker-bg-opacity7;
      &.btn {
        border: none;
        span {
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}
.dots_container {
  display: none;
}

.images_dots {
  @include flex-centered;
  width: 11px;
  height: 11px;
  border: 1px solid #7f7f7f;
  border-radius: 50%;
  &:after {
    display: inline-block;
    content: '';
    width: 5px;
    height: 5px;
    background-color: #7f7f7f;
    border-radius: 50%;
  }
}

@include screen-width('tablet') {
  .dots_container{
    display: flex;
    justify-content: space-between;
    width: 55px;
    margin: 0 auto;
  }
}
.related_products_modal .products-grid .grid-item .product-image {
  max-height: 200px;
  @include screen-width('tablet') {max-height: 350px !important;}
}
.cart-left .grid-item .product-image {
  height: initial;
  overflow: visible;

  .grid-image {
    width: 75%;
    margin: 0 auto;

    @include screen-width('laptop') {
      width: 65%;
    }
  }
}

.owl-prev,
.owl-next {
  color: black !important;
  background-color: initial !important;
  border: 1px solid black !important;
}

// STYLES FOR THE RELATED PRODUCTS ON THE ADD TO CART POPUP
.related_products_modal {
  .product-content {
    background-color: #eed6c1;
    color: #fff;
  }
  .product-label {
    font-size: 11px;
    left: 5px;
  }
  .product-content h3 {
    margin-bottom: 5px;
  }
  .product-content .price-box,
  .price-box .old-price,
  .product-content h3 a {
    color: #fff;
  }
  .owl-nav {
    top: 62%;
  }
  .owl-dots {
    display: none;
  }
}
.ajax-success-cbox .grid-item  .product-inner  .product-image  .add-to-cartS {
  button {
    font-size: 12px;
  }
}
@include screen-width('phone') {
  .show-carts .ajax-success-cbox .might_like_title {
    display: none;
  }
}