.contact-container {
  display: flex;
  @include screen-width("tablet") {
    flex-direction: column-reverse;
  }
}

//STYLES FOR BOTH SECTIONS OF THE CONTACTS PAGE
.half-width-col {
  width: 50%;
  min-height: 90vh;

  &:first-of-type {
    @include flex-centered;
    background-image: url("https://cdn.shopify.com/s/files/1/0409/0196/8033/files/Artboard_1_53d9fdaf-0476-4f5f-b82b-03a1ecdd2cca.png?v=1606307135");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include screen-width("desktop") {
    min-height: 85vh;
  }
  @include screen-width("tablet") {
    min-height: 70vh;
    width: 100%;
    &:last-of-type {
      min-height: auto;
      padding-bottom: 2rem;
    }
  }
}

//STYLES FOR THE CONTACT DETAILS SECTION WITH THE PICTURE AS BACKGROUND
.contact-cart {
  background: white;
  height: 80%;
  width: 80%;

  @include screen-width("tablet") { padding: 5rem; }
  @include screen-width("phone") { padding: 1.5rem; }
}
.contact-heading {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $darker-bg-opacity7;
  margin-bottom: 40px;

  @include screen-width("desktop") {
    font-size: 40px;
    margin-bottom: 30px;
  }

  @include screen-width("tablet") { font-size: 26px; }
  @include screen-width("phone") { font-size: 22px; }
  @include screen-width("smallest") { margin-bottom: 20px; }
}
.icons-social {
  display: flex;
  justify-content: space-around;
  width: 45%;
  margin: 0 auto;
  i {
    font-size: 40px;
    color: #e17262;

    @include screen-width("tablet") {
      font-size: 30px;
    }
    @include screen-width("phone") {
      font-size: 25px;
    }
    @include screen-width("phone") {
      font-size: 20px;
    }
  }
}
.contact-address {
  span {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 3px;
    &:first-of-type {
      margin-bottom: 30px;
    }
  }

  @include screen-width("tablet") {
    span {
      font-size: 18px;

      &:first-of-type {
        margin-bottom: 20px;
      }
    }

    &.center-vertical {
      margin-bottom: 0;
    }
  }
  @include screen-width("phone") {
    span {
      margin-bottom: 0;

      &:first-of-type {
        margin-bottom: 10px;
      }
    }
    &.center-vertical {
      font-size: 14px;
    }
  }
}
.fallow-us {
  font-size: 32px;
  width: 85%;
  margin: 30px auto;

  @include screen-width("desktop") {
    width: 90%;
    font-size: 28px;
    margin-top: 20px;
  }

  @include screen-width("tablet") {
    width: 80%;
    font-size: 20px;
    margin-bottom: 30px;
  }
  @include screen-width("phone") {
    font-size: 16px;
  }

  @include screen-width("smallest") {
    font-size: 14px;
    margin: 15px auto;
  }
}

//STYLES FOR THE FORM ELEMENTS
.contact-heading2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
  color: $darker-details-color;

  @include screen-width("desktop") {
    font-size: 35px;
  }
  @include screen-width("phone") {
    font-size: 22px;
    margin: 20px auto;
  }
}

.flex.space-b //the div containing both inputs of the form
{
  margin-bottom: 30px;

  @include screen-width("desktop") {
    flex-direction: column;
    margin-bottom: 0;
  }
  .half-input {
    flex-basis: 47%;
  }
}

.contactus-page {
  padding: 0 0;
  .contact-form {
    height: 100%;
    //THE CONTACT FORM WRAPPER IS NESTED SO THAT IT CAN OVERRIDE THE THEME STYLES
    #contactFormWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 75%;
      height: 100%;
      margin: 0 auto;

      ::placeholder {
        font-size: 18px;
        color: #a7a7a7;
      }
      .name-row,
      .email-row,
      .message-text {
        border: 1px solid #8d8d8d;
        font-size: 18px;
        color: #a7a7a7;
        height: auto;
        padding: 1rem;
      }
      .button-contact {
        display: flex;
        justify-content: flex-end;
        margin-top: 40px;

        @include screen-width("desktop") {
          margin-top: 30px;
        }

        @include screen-width("phone") {
          margin-bottom: 10px;
        }

        .contact-button {
          padding: 1.5rem 5.5rem;
          font-size: 18px;
          letter-spacing: 3px;
          height: auto;
          margin: 0;
          background-color: $darker-bg-opacity7;
          border: 1px solid $darker-bg-opacity7;
          outline: none;
          line-height: normal;

          &:hover,
          &:focus {
            background-color: white;
            color: $darker-details-color;
          }
          @include screen-width("phone") {
            font-size: 14px;
            padding: 1rem 5.5rem;
          }
        }
      }
      @include screen-width("tablet") {
        width: 85%;
        .button-contact {
          justify-content: center;
        }
        .label-dec.lebel-dec1 {
          font-size: 18px;
        }
      }
      @include screen-width("phone") {
        .label-dec.lebel-dec1,
        .name-row,
        .email-row,
        .message-text {
          font-size: 16px;
        }
      }
    }
  }
}
