.noancho.ltr.template-index {
  .row.align-horizontal-.align-vertical-top {
    font-family: "Futura";
    max-height: 90vh;
    overflow: hidden;

    .promobox {
      height: 100%;
      margin: 0;
      padding: 0;
      .flex {
        justify-content: center;
      }
      .promobox-content {
        .promobox-wt-content {
          width: 70%;
          margin: 0 auto;
          .text-line1 {
            font-weight: normal;
            font-size: 2rem;
            margin-top: 0;
            line-height: normal;
          }
          .text-line2, .text-line3 {
            font-size: 1rem;
            line-height: normal;
          }
          .text-line3 {
            text-transform: none;
          }
          .button-type3 {
            a {
              height: auto;
              line-height: normal;
              padding: 1rem 3.5rem;
              border: none;

              &:hover, 
              &:focus {
                background: $darker-bg-opacity7 !important;
              }
            }
          }
          
          @include screen-width("phone") {
            width: 80%;
          }
          @include screen-width("smallest") {
            width: 90%;
            .text-line2 {
              margin-bottom: 0;
            }
            .text-line3 {
              margin-bottom: 15px;
            }
          }
        }

        &.promobox-2 {
          .about-helper {
            display: none;
          }
          .promobox-wt-content {
            top: 47%;
            .text-line1 {
              font-size: 3.5rem;
            }
            @include screen-width('tablet') {
              top: 50%;
              .text-line1 {
                font-size: 2.5rem;
              }
            }
          }
          .button-type3 a {
            font-size: 0.9rem;
          }

          @include screen-width("desktop") {
            &,
            .promobox-image-video,
            .image,
            .lazyautosizes.lazyloaded {
              height: 100%;
            }
          }
        }
        &.promobox-3 {
          height: 100%;
          .image {
            height: 100%;
            a {
              display: block;
              position: relative;
              &:before {
                display: block;
                content: "";
                padding-top: 50%;
              }

              img {
                height: 100%;
                width: auto;
                @include position-center;
              }
            }
          }
          .button-type3 a {
            font-size: 1rem;

          }
        }
      }
    }
    @include screen-width("tablet") { max-height: none; }
  }
  @include screen-width("tablet") {
    .promobox:nth-of-type(1) { order: 1; }

    #shopify-section-16045784717ab9e33f .row.align-horizontal-.align-vertical-top {
      flex-direction: column-reverse;
    }
  }
}
