//---------------------------------------- Ivana's styles
.create-an-account {
  @include flex-column;
  justify-content: center;
}
.login-page {
  width: 100vw;
  position: relative;

  .round-detail {
    background: $icons-color;
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 7%;
    left: 55%;
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: 10;
    @include flex-centered;
    p {
      font-family: "Black Jack", serif;
      line-height: normal;
      font-size: 1.75rem;
      color: white;
      margin-bottom: 0;
      text-align: center;
      span {
        display: inline-block;
        width: 100%;
      }
    }
    @include screen-width("tablet") {
      width: 8rem;
      height: 8rem;
      top: 40vh;
      left: 5%;
      transform: translate(0%, -7vh);
      p {
        font-size: 1.5rem;
      }
    }
    @include screen-width("phone") {
      width: 6rem;
      height: 6rem;
      p {
        font-size: 1.25rem;
      }
    }
  }
}
.login-container {
  display: flex;
  background: lighten($light-bg, 5%);
  .grid-img-col {
    width: 55%;
    height: 100vh;
  }
  .form-col {
    width: 45%;
    min-height: 100vh;
  }
  .grid-image-container,
  .logo-image-container {
    position: relative;
    overflow: hidden;
  }

  //styles for the left column with the photos
  .grid-img-col {
    background-image: none;
    position: relative;
    display: flex;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #e7ad8e;
      opacity: 0.3;
      z-index: 2;
    }
  }
  .three-row-grid {
    @include flex-column;
    flex-basis: 45%;
  }
  .grid-image-container {
    &.first-image {
      flex-basis: 25%;
    }
    &.second-image {
      flex-basis: 45%;
    }
    &.third-image {
      flex-basis: 30%;
    }
    &.fourth-image {
      flex-basis: 55%;
    }

    &.first-image,
    &.third-image,
    &.fourth-image {
      .background_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &.second-image {
      .background_img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  //styles for the right column with the registration form
  .login-page-content {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    padding: 2rem 0 0 0;
    @include flex-column;
    .logo-image-container::before {
      display: block;
      content: "";
      padding-top: 25%;
    }
    .logo-image {
      width: 100%;
      height: auto;
      @include position-center;
    }
    .heading-right {
      font-family: "Black Jack", serif;
      font-size: 1.75rem;
      line-height: normal;
      text-align: center;
      color: #8d8d8d;
    }
    .icon-text-container {
      display: flex;
      align-items: center;
      img {
        width: 15%;
        margin: 0.75rem 2.5rem;
      }
      p {
        line-height: normal;
        color: $icons-color;
        font-size: 1.25rem;
        margin-bottom: 0;
      }
    }
    #create_customer {
      margin-bottom: 0;

      .input-group {
        @include flex-column;
        input {
          height: auto;
          padding: 1rem;
          margin: 1.25rem 0 0 0;
          outline: none;
          border: 1px solid;
          border-color: rgba($color: #8d8d8d, $alpha: 0);
          color: #8d8d8d;
          &:focus {
            border-color: rgba($color: #8d8d8d, $alpha: 1);
          }
        }
        &-btn {
          width: 100%;
        }
        .btn {
          width: 100%;
          line-height: normal;
          background: $buttons-bg;
          color: white;
          font-size: 1.25rem;
          font-weight: 500;

          &:hover,
          &:focus {
            background: $darker-bg-opacity7;
            border-color: $darker-bg-opacity7;
          }

          &.entered_email {
            margin-top: 0.5rem;
          }
        }
      }
      
      .newsletter-agreement {
        display: flex;
        align-items: baseline;
        input[type="checkbox"] {
          margin-right: 0.5rem;
          width: auto;
        }
        label {
          font-size: 0.8rem;
        }
      }

      // .already-member {
      //   display: none;
      //   width: 100%;
      //   text-align: center;
      //   margin-top: 0.5rem;
      //   a {
      //     text-decoration: underline;
      //     color: inherit;
      //   }
      // }
    }
    @include screen-width("tablet") {
      width: 80%;
      padding: 2rem 0;
      .logo-image-container::after {
        padding-top: 22%;
      }
      .logo-image {
        width: 75%;
      }
      .heading-right {
        font-size: 1.25rem;
      }
      .icon-text-container {
        margin-bottom: 0.5rem;
        img {
          width: 10%;
          margin: 0.25rem 2rem;
        }
        p {
          font-size: 1rem;
        }
      }
      #create_customer {
        .input-group {
          input {
            margin-top: 0.5rem;
          }
          .btn {
            font-size: 1rem;
          }
        }
      }
    }
    @include screen-width("phone") {
      width: 85%;
    }
  }

  @include screen-width("tablet") {
    flex-direction: column;
    .grid-img-col,
    .form-col {
      width: 100%;
    }
    .grid-img-col {
      height: 40vh;
    }
    .form-col {
      min-height: 50vh;
    }
    .grid-image-container {
      &.first-image {
        flex-basis: 20%;
      }
      &.second-image {
        flex-basis: 35%;
      }
      &.third-image {
        flex-basis: 45%;
      }
    }
  }
}
