// WELCOME AND UNDER CONSTRUCTION PAGES

#welcome-page,
#under-construction-1 {
  .welcome-container,
  .construction-container {
    @include flex-centered;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: white;
  }
  .welcome-logo, .construction-logo {
      width: 50vw;
      margin: 2rem 0;
      @include screen-width("tablet") {
        width: 85vw;
        margin: 1rem 0;
      }
    }
  
  .welcome-heading {
    font-size: 85px;
    color: white;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 50px;
    @include screen-width("tablet") {
      font-size: 55px;
      margin-bottom: 0;
    }
    @include screen-width("phone") {font-size: 35px;}
    @include screen-width("smallest") { font-size: 26px; }
  }
  .construction-heading {
    font-size: 45px;
    line-height: 60px;

    @include screen-width("tablet") {font-size: 30px;}
    @include screen-width("smallest") {font-size: 26px;}

  }
  .second-construction-heading {
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    @include screen-width("tablet") {width: 90%;}
  }
  .label-email {
    text-transform: uppercase;
    margin-top: 50px;

    @include screen-width("tablet") {
      margin-top: 30px;
    }
  }
  .email-button form {
    display: flex;
    margin-top: 10px;
    height: 55px;
    width: 25vw;

    @include screen-width("laptop") {width: 35vw;}
    @include screen-width("tablet") {width: 60vw;}
    @include screen-width("smallest") {width: 80vw;}
  }
  .email-input {
    flex-basis: 80%;
    height: 100%;
    font-size: 16px;
    color: #8d8d8d;
  }
  .undercon-button {
    flex-basis: 20%;
    background-color: $icons-color;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    
    &:hover, &:focus {
      background-color: $darker-details-color;
    }

    @include screen-width("tablet") {
      width: initial;
    }
  }
  @include screen-width("tablet") {
    .second-construction-heading,
    .label-email {
      font-size: 18px !important;
    }
  }
  
  @include screen-width("smallest") {
    .second-construction-heading,
    .label-email {
      font-size: 16px !important;
      line-height: 22px !important;
    }
    
  }  
}


// 404 PAGE

.template-404  .container {
  max-width: 100%;
  padding: 0;

  .align-vertical-top,
  .ct_block-vertical-top {
    align-items: stretch;

    @include screen-width('tablet') {
      flex-direction: column-reverse;
    }
  }
}
#shopify-section-404-grid-builder {
  min-height: 100vh;
  .promobox-content.promobox-1,
  .promobox-content.promobox-4,
  .promobox-image-video, 
  .image, .lazyautosizes.lazyloaded,
  .promobox-wt-content {
    height: 100%;
  }

  .image .lazyautosizes.lazyloaded {
    max-width: none;
    width: auto;
  }
  .promobox {
    min-height: 100vh;
    overflow: hidden;
    .promobox-content.promobox-1 {
      @include flex-centered;

      .promobox-image-video .image { display: none; }
      .promobox-wt-content {
        width: 85%;
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: relative;
        left: 0;
        top: 0;

        .flex {
          justify-content: space-between;
        }

        @include screen-width('tablet') {
          padding: 3rem 1rem;
          height: 100%;
        }
      }
    }
    @include screen-width('tablet') {
      &:first-of-type {
        max-height: 50vh;
      }
    }
  }
  .text-line1 {
    font-size: 4rem;
    line-height: normal;
    font-weight: 100;
    width: 85%;
  
    @include screen-width('tablet') { 
      margin-top: 0 ;
    }
  }
    
  .text-line2 {
    margin-left: 0;
    width: fit-content;
    background-image: url("https://cdn.shopify.com/s/files/1/0409/0196/8033/files/Rectangle_313.png?v=1606294066");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .promo-price {
      display: none;
    }
    span {
      text-align: left;
      width: 100%;
      font-size: 2.7rem;
      line-height: normal;
      mix-blend-mode: screen;
      background: white;
      margin-bottom: 0 ;
      text-shadow: 3px 3px 0 $darker-bg-opacity7;
      font-weight: 100;

    }
  }
  .text-line3 {
    font-size: 1.5rem;
    margin-top: 30px;
    line-height: normal;
    width: 80%;
    margin-left: 0;
    text-transform: initial;
  }
  .button-view.button-type3 {
    margin-top: 30px;
    flex-basis: 45%;

    a {
      display: block;
      height: auto;
      line-height: normal;
      padding: 1.25rem 0;
      text-align: center;
      font-size: 1.2rem;

      
      &:hover {
        background: $darker-bg-opacity7 !important;
      }
    }
  }

  @include screen-width('tablet') { 
    .promobox {
      min-height: 50vh;
    }
    .image .lazyautosizes.lazyloaded {
    width: 100%;
    height: auto;
  }}
}