#welcome-page,
#under-construction-1 {
  .welcome-container,
  .construction-container {
    @include flex-centered;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: white;
  }
  .welcome-logo {
    width: 27vw;
    @include screen-width("tablet") {
      margin-top: 0 ;
    }
    @include screen-width("phone") {
      width: 50vw;
    }
  }
  .welcome-heading {
    font-size: 85px;
    color: white;
    line-height: 115px;
    text-transform: uppercase;
    margin-bottom: 50px;
    @include screen-width("tablet") {
      font-size: 55px;
      margin-bottom: 0;
    }
    @include screen-width("phone") {font-size: 35px;}
    @include screen-width("smallest") { font-size: 26px; }
  }
  .construction-heading {
    font-size: 45px;
    line-height: 60px;
    font-family: "Futura";

    @include screen-width("tablet") {font-size: 30px;}
    @include screen-width("smallest") {font-size: 26px;}

  }
  .construction-logo {
    width: 35vw;
    @include screen-width("tablet") {
      width: 50vw;
    }
  }
  .second-construction-heading {
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    @include screen-width("tablet") {width: 90%;}
  }
  .label-email {
    text-transform: uppercase;
    margin-top: 50px;

    @include screen-width("tablet") {
      margin-top: 30px;
    }
  }
  .email-button {
    display: flex;
    margin-top: 10px;
    height: 55px;
    width: 25vw;

    @include screen-width("laptop") {width: 35vw;}
    @include screen-width("tablet") {width: 60vw;}
    @include screen-width("smallest") {width: 80vw;}
  }
  .email-input {
    flex-basis: 80%;
    height: 100%;
    font-size: 16px;
    color: #8d8d8d;
  }
  .undercon-button {
    flex-basis: 20%;
    background-color: #e17261;
    color: white;
    border: none;
    outline: none;

    @include screen-width("tablet") {
      width: initial;
    }
  }
  @include screen-width("tablet") {
    .second-construction-heading,
    .label-email {
      font-size: 18px !important;
    }
  }
  
  @include screen-width("smallest") {
    .second-construction-heading,
    .label-email {
      font-size: 16px !important;
      line-height: 22px !important;
    }
    
  }  
}